.orderDetails {
    width: 70%;
    background-color: #4AC365;
    padding: 20px;
    margin: auto;
    margin-top:  20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.orderDetails__title {
    margin-top: 0;
    font-weight: 200;
    color: white;
}

.orderDetails__orderDetailsButton {
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 15px 50px 3px 15px;
    outline: none;
    cursor: pointer;
}
